option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public
  - option_name: NODE_ENV
    value: production
  - option_name: HOST_ENV
    value: virginia-mysql-instance1.ctlbtxqxbjwy.us-east-1.rds.amazonaws.com
  - option_name: PORT_ENV
    value: 3306
  - option_name: USER_ENV
    value: colincole
  - option_name: PASSWORD_ENV
    value: SaltyTuna814
